{% extends "website/main.html" %}
{% block navbar %}
{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light"
            type="button"
            data-toggle="collapse" data-target="#sideNavBar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sideNavBar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 fixed-top sidebar">
                    <a href="{% url 'home' %}" class="navbar-brand
                    d-block py-3 mb-3 font-weight-bold b-border text-white">eDent</a>
                <div class="b-border pb-3">
                    <!-- Navbar Hello User Start -->
                        {% if request.user.employee.full_name %}
                            <span><a href="{% url 'user_profile' %}" class="text-white">{{ user.employee.full_name }}</a></span>
                        {% elif request.user.employee.email %}
                            <span><a href="{% url 'staff_profile' %}" class="text-white">{{ user.employee.email }}</a></span>
                        {% elif request.user.customer.full_name %}
                            <span><a href="{% url 'user_profile' %}" class="text-white">{{ user.customer.full_name }}</a></span>
                        {% elif request.user.customer.email %}
                            <span><a href="{% url 'user_profile' %}" class="text-white">{{ user.customer.email }}</a></span>
                        {% else %}
                            <span><a href="#">{{ user.email }}</a></span>
                        {% endif %}
                </div>
                    <ul class="navbar-nav flex-column r-bar">
                        <li class="nav-item"><a href="#" class="nav-link p-2 mb-1 rbar-link text-white">
                        <i class="fa fa-home fa-lg mr-3"></i>Dashboard</a></li>
                        <li class="nav-item"><a href="{% url 'staff_profile' %}" class="nav-link p-2 mb-1 rbar-link text-white"">
                        <i class="fa fa-id-card fa-lg mr-3"></i>Customer Profile</a></li>
                        <li class="nav-item"><a href="{% url 'user_profile' %}" class="nav-link p-2 mb-1 rbar-link text-white"">
                        <i class="fa fa-user-md fa-lg mr-3"></i>Employee Profile</a></li>
                        <li class="nav-item"><a href="#" class="nav-link p-2 mb-1 rbar-link text-white"">
                        <i class="fa fa-user-plus fa-lg mr-3"></i>Add Customer</a></li>
                        <li class="nav-item"><a href="#" class="nav-link p-2 mb-1 rbar-link text-white"">
                        <i class="fa fa-shopping-cart fa-lg mr-3"></i>Services</a></li>

                    </ul>
                </div>
                <div class="col-lg-9 ml-auto fixed-top py-2 topbar">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="text-light text-uppercase mb-0">Dashboard</h4>
                        </div>
                        <div class="col-md-5 offset-md-4">
                            <ul class="navbar-nav float-right">
                                <li class="nav-item"><a href="#" class="nav-link text-light">
                                    <i class="fa fa-calendar mr-1 text-light"></i>Appointments</a>
                                </li>
                                <li class="nav-item"><a href="#" class="nav-link text-light">
                                    <i class="fa fa-group mr-1 text-light"></i>Customers</a>
                                </li>
                                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-danger">
                                    <i class="fa fa-sign-out mr-1 text-danger"></i>Logout</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</nav>

{% endblock %}

{% block footer%}
{% endblock %}
