{% extends "website/main.html" %}
{% block navbar %}
<style>
body {
height: 100vh;
background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .5)),
                url("/static/website/images/chair.jpg") no-repeat center center /cover;
}
</style>
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light"
            type="button"
            data-toggle="collapse" data-target="#sideNavBar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sideNavBar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 fixed-top sidebar">
                    <a href="{% url 'home' %}" class="navbar-brand
                    d-block py-3 mb-3 font-weight-bold b-border text-white">eDent</a>
                <div class="b-border pb-3">
                    <!-- Navbar Hello User Start -->
                        {% if request.user.is_authenticated %}
                {% if request.user.is_employee is True %}
                        <a class="nav-link hello-msg" href="#" id="navbarDropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {% if not request.user.full_name %}
                                {{ request.user.get_email }}
                            {% else %}
                                {{ request.user.full_name }}
                            {% endif %}
                        </a>
                {% elif request.user.is_customer is True %}
                    <span><a class="hello-msg" href="{% url 'user_profile' %}">
                        {% if not request.user.full_name %}
                            {{ request.user.get_email }}
                        {% else %}
                            {{ request.user.full_name }}
                        {% endif %}
                    </a></span>
                {% endif %}
            {% endif %}
                </div>
                    <ul class="navbar-nav flex-column r-bar">
                        <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link p-2 mb-1 rbar-link text-white">
                        <i class="fa fa-home fa-lg mr-1"></i>Dashboard</a></li>
                        <li class="nav-item"><a href="{% url 'staff_profile' %}" class="nav-link p-2 mb-1 rbar-link text-white"">
                        <i class="fa fa-id-card fa-lg mr-1"></i>Customer Profile</a></li>
                        <li class="nav-item"><a href="{% url 'user_profile' %}" class="nav-link p-2 mb-1 rbar-link text-white"">
                        <i class="fa fa-user-md fa-lg mr-1"></i>Employee Profile</a></li>
                        <li class="nav-item"><a href="{% url 'add_customer' %}" class="nav-link p-2 mb-1 rbar-link text-white">
                        <i class="fa fa-user-plus fa-lg mr-1"></i>Add Customer</a></li>
                        <li class="nav-item"><a href="{% url 'services_dashboard' %}" class="nav-link p-2 mb-1 rbar-link text-white">
                        <i class="fa fa-shopping-cart fa-lg mr-1"></i>Services</a></li>
                        <li class="nav-item"><a href="{% url 'calendar' %}" class="nav-link p-2 mb-1 rbar-link text-white">
                            <i class="fa fa-calendar mr-1 text-light"></i>Appointments</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'customers' %}" class="nav-link p-2 mb-1 rbar-link text-white">
                            <i class="fa fa-group mr-1 text-light"></i>Customers</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-10 ml-auto fixed-top py-2 topbar">
                    <div class="row">
                        <div class="col-md-5 offset-md-7">
                            <ul class="navbar-nav float-right">
                                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-danger logout-style">
                                <i class="fa fa-sign-out mr-1 text-danger"></i>Logout</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 ml-auto">
            <div class="row pt-5 mt-2 mb-5 justify-content-center">
                    {% endblock %}

                    {% block content %}
                        <div class="container">
                            <h1 class="text-light"> Todays visits</h1>
                            <table class="table table-light table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Start Time</th>
                                    <th scope="col">End Time</th>
                                    <th scope="col">Patient</th>
                                    <th scope="col">Doctor</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if visits %}
                                        {% for visit in visits%}
                                            <tr>
                                                <td>{{visit.start_time}}</td>
                                                <td>{{visit.end_time}}</td>
                                                <td>{{visit.doctor}}</td>
                                                <td>{{visit.customer}}</td>
                                                <td>{{visit.title}}</td>
                                                <td>{{visit.description}}</td>
                                            </tr>
                                </tbody>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block footer%}
{% endblock %}
