{% extends 'website/main.html' %}
{% load static %}
{% block content %}
    <style>
        .background-img {
            background-image: url({% static 'website/images/home_bg.jpg'%});
            filter: blur(3px);
            height: 80%;
            background-position: center;
            background-size: cover;
        }
        .text-on-bg {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;
        }
        .features-desc {
            position: relative;
            top: 20px;
        }
    </style>
<div class="container-fluid">
<div class="background-img"></div>

<div class="text-on-bg">
    <h1> SYSTEM DO ZARZĄDZANIA GABINETEM STOMATOLOGICZNYM </h1>
</div>
</div>
<div class="container features-desc">
    <h2 align="center" style="color:#6c757d;"> CECHY PRODUKTU </h2>
    <div class="row justify-content-center">

        <div class="col-sm-3 col-4">
             <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>
            <h5>Dokumentacja Medyczna</h5>
            <div class="row justify-content-center">

                <div class="col-sm-20">
                    <h6>Some description of above feature.
                        Some description of above feature.
                        Some description of above feature.
                        Some description of above feature.
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-4">
             <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>
            <h5>Dostępność</h5>
            <div class="row justify-content-center">
                <div class="col-sm-20">
                    <h6>Some description of above feature.
                        Some description of above feature.
                        Some description of above feature.
                        Some description of above feature.
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-4">
             <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>
            <h5>Rejestracja online</h5>
            <div class="row justify-content-center">
                <div class="col-sm-20">
                    <h6>Some description of above feature.
                        Some description of above feature.
                        Some description of above feature.
                        Some description of above feature.
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-8">
             <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>
            <h5>Oszczędność</h5>
            <div class="row justify-content-center">
                <div class="col-sm-20">
                    <h6>Some description of above feature.
                        Some description of above feature.
                        Some description of above feature.
                        Some description of above feature.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


