{% extends 'website/main.html' %}
{% load static %}
{% block content %}
    <h1>Home</h1>

    <style>
        .background-img {
            background-image: url({% static 'website/images/dent.jpg'%});
        }
    </style>

    <div class="background-img">
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
        Home test xD<br>
    </div>


{% endblock %}


