{% extends 'website/main.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">

    <body>
        <header>
            <!--banner-->
            <div class="text-light text-md-right text-center banner">
                <h1 class="display-4 banner-heading">Welcome to eDent Office</h1>
                <p class="lead banner-par">The best online Dentist System for your Dentist Office</p>
            </div>
            <!--end of banner-->

        </header>
    </body>
{% endblock %}