{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dent - Dentist Django App</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">

<body>
    <nav class="navbar navbar-expand-lg fixed-top nav-menu">
        <a href="{% url 'home' %}" class="navbar-brand text-light h2 font-weight-bold">eDent</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportContent">
            <div class="bg-light line1"></div>
            <div class="bg-light line2"></div>
            <div class="bg-light line3"></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="{% url 'home' %}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="{% url 'our_team' %}">Our team</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle m-2 menu-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Dental surgery</a>
                        <a class="dropdown-item" href="#">Implants</a>
                        <a class="dropdown-item" href="#">Root canal treatment</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">For Doctors</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="{% url 'appointment' %}">Appointment </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="{% url 'contact' %}">Contact </a>
                </li>
            </ul>
            <ul class="navbar-nav font-weight-bold">

                {% if request.user.is_anonymous %}
                     <li class="nav-item">
                        <a class="btn btn-outline-primary mr-1" href="{% url 'login' %}">Login </a>
                    </li>
                    <span></span>
                    <li class="nav-item">
                        <a class="btn btn-outline-success mr-1" href="{% url 'register' %}">Register </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
    {% if request.user.is_authenticated %}
        {% if request.user.staff_profile.full_name %}
            <span><a class="hello-msg"
                     href="{% url 'staff_profile' %}">Hello, {{ user.staff_profile.full_name }}</a></span>
        {% elif request.user.staff_profile.email %}
            <span><a class="hello-msg" href="{% url 'staff_profile' %}">Hello, {{ user.staff_profile.email }}</a></span>
        {% elif request.user.profile.full_name %}
            <span><a class="hello-msg" href="{% url 'user_profile' %}">Hello, {{ user.profile.full_name }}</a></span>
        {% elif request.user.profile.email %}
            <span><a class="hello-msg" href="{% url 'user_profile' %}">Hello, {{ user.profile.email }}</a></span>

        {% else %}
            <span><a class="hello-msg" href="#">Hello, {{ user.email }}</a></span>
        {% endif %}

        <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
    {% endif %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<link rel="script" type="" href="{% static 'website/js/jquery-3.5.1.slim.min.js' %}">
<!-- ***** Navbar Area End ***** -->

{% block content %}

{% endblock %}
<hr>

<!-- Footer Area -->
<footer class="footer-area bg-img bg-gradient-overlay">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-footer-widget">
                    <div class="footer-contact">
                        <h5>Address</h5>
                        <p>Aleja Grunwaldzka 238A, Gdańsk, 80-226 Poand</p>
                        <h5>Phone</h5>
                        <p>+48 123 456 789</p>
                        <h5>Email</h5>
                        <p>contact@dent.com</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg">
                <!-- Title -->
                <h5 class="widget-title">Opening Hours</h5>
                <ul class="opening-hours">
                    <li><span>Monday - Wednesday</span> <span>9.00-18.00</span></li>
                    <li><span>Thursday - Friday</span> <span>8.00-17.00</span></li>
                    <li><span>Saturday - Sunday</span> <span>Closed</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright Area -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved
                    <i class="" aria-hidden="true"></i> by Adrian Kasprzyk & Martyna Kalkowska
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area -->
</body>
</html>