{% extends 'website/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    <body>

    <div class="album py-5">
        <div class="container">

            <div class="row">

                {% for staffprofile in object_list %}
                    <div class="col-md-4">
                        <div class="card card-body">
                            {% if staffprofile.profile_pic.url is not null %}
                                <img class="bd-placeholder-img card-img-top"
                                     src="{{ staffprofile.profile_pic.url }}"/>
                            {% else %}
                                <img alt="User picture" class="bd-placeholder-img card-img-top"
                                     src="{% static 'website/images/default_profile_photo.png' %}">
                            {% endif %}
                            <div class="card-body">
                                <h3 class="">
                                    <p class="card-text">{{ staffprofile.full_name }}</p></h3>
                                <hr>
                                <p class="card-text">{{ staffprofile.bio }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    </body>
{% endblock %}