{% extends 'website/main.html' %}
{% block content %}
<header>
    <!-- Services Area -->
    <div class="services">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-primary">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>First Consultation</td>
                        <td>00:30</td>
                        <td>10€</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Teeth Restoration</td>
                        <td>00:30 - 00:45</td>
                        <td>20€ - 50€</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td >Dental Hygienist</td>
                        <td>00:30 - 00:45</td>
                        <td>20€</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td >Teeth Whitening</td>
                        <td>00:30 - 00:45 per visit</td>
                        <td>Total cost 500€</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td >Veneers</td>
                        <td>00:45 - 01:00</td>
                        <td>100€ per teeth</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td >Orthodintics</td>
                        <td>n/a</td>
                        <td>Individual cost</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td >Orthodintics</td>
                        <td>n/a</td>
                        <td>Individual cost</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td >Dental Implants</td>
                        <td>n/a</td>
                        <td>Individual cost</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</header>
{% endblock %}