#logo {

}

body {
    background-color: #ebeff5
}

.hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}

.profile-pic {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    border-radius: 50%
}